In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Creating/Building data
car_prices = {
   'car_model': ['BMW X5','BMW X5','BMW X5','BMW X5','BMW X5','Audi','Audi','Audi','Audi','Mercedez','Mercedez','Mercedez','Mercedez'],
    'mileage': [69000,35000,57000,22500,46000,59000,52000,72000,91000,67000,83000,79000,59000],
    'sale_price': [18000,34000,26100,40000,31500,29400,32000,19300,12000,22000,20000,21000,33000],
    'age(yrs)': [6,3,5,2,4,5,5,6,8,6,7,7,5]
}
df = pd.DataFrame(car_prices)

In [3]:
df

   car_model  mileage  sale_price  age(yrs)
0     BMW X5    69000       18000         6
1     BMW X5    35000       34000         3
2     BMW X5    57000       26100         5
3     BMW X5    22500       40000         2
4     BMW X5    46000       31500         4
5       Audi    59000       29400         5
6       Audi    52000       32000         5
7       Audi    72000       19300         6
8       Audi    91000       12000         8
9   Mercedez    67000       22000         6
10  Mercedez    83000       20000         7
11  Mercedez    79000       21000         7
12  Mercedez    59000       33000         5

In [4]:
# Creating dummies variables
dummies = pd.get_dummies(df.car_model)
dummies

    Audi  BMW X5  Mercedez
0      0       1         0
1      0       1         0
2      0       1         0
3      0       1         0
4      0       1         0
5      1       0         0
6      1       0         0
7      1       0         0
8      1       0         0
9      0       0         1
10     0       0         1
11     0       0         1
12     0       0         1

In [5]:
# Merging dummies variable with df
merged = pd.concat([df,dummies],axis='columns')

In [6]:
merged

   car_model  mileage  sale_price  age(yrs)  Audi  BMW X5  Mercedez
0     BMW X5    69000       18000         6     0       1         0
1     BMW X5    35000       34000         3     0       1         0
2     BMW X5    57000       26100         5     0       1         0
3     BMW X5    22500       40000         2     0       1         0
4     BMW X5    46000       31500         4     0       1         0
5       Audi    59000       29400         5     1       0         0
6       Audi    52000       32000         5     1       0         0
7       Audi    72000       19300         6     1       0         0
8       Audi    91000       12000         8     1       0         0
9   Mercedez    67000       22000         6     0       0         1
10  Mercedez    83000       20000         7     0       0         1
11  Mercedez    79000       21000         7     0       0         1
12  Mercedez    59000       33000         5     0       0         1

In [7]:
# Drop unnecessary columns
final = merged.drop(['car_model','Mercedez'],axis='columns')
final

    mileage  sale_price  age(yrs)  Audi  BMW X5
0     69000       18000         6     0       1
1     35000       34000         3     0       1
2     57000       26100         5     0       1
3     22500       40000         2     0       1
4     46000       31500         4     0       1
5     59000       29400         5     1       0
6     52000       32000         5     1       0
7     72000       19300         6     1       0
8     91000       12000         8     1       0
9     67000       22000         6     0       0
10    83000       20000         7     0       0
11    79000       21000         7     0       0
12    59000       33000         5     0       0

In [8]:
#Model 
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
x = final.drop(['sale_price'],axis='columns')
x

    mileage  age(yrs)  Audi  BMW X5
0     69000         6     0       1
1     35000         3     0       1
2     57000         5     0       1
3     22500         2     0       1
4     46000         4     0       1
5     59000         5     1       0
6     52000         5     1       0
7     72000         6     1       0
8     91000         8     1       0
9     67000         6     0       0
10    83000         7     0       0
11    79000         7     0       0
12    59000         5     0       0

In [10]:
y = final.sale_price
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: sale_price, dtype: int64

In [11]:
#Model Fitting 
model.fit(x,y)

LinearRegression()

In [12]:
#Model Predict
model.predict([[45000,4,0,0]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36991.31721061])

In [13]:
model.predict([[69000,6,0,1]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18705.2723644])

In [14]:
#Model Scoring 
model.score
model.score(x,y)

0.9417050937281082

In [15]:
# From the outcome of our model, we can actually say that the model is performing well.